.invoice-form-field {
    width: 100%;
}

.main-wapper {
    background-color: #f7f8fb;
    height: calc(100vh - 90px);
    margin: 0px !important;
    padding: 0px !important;
}

.vendor-invoice {
    &__title {
        color: #3e3c3c;
        font-family: Poppins;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 33px;
    }

}