<div>
  <div class="px-4 py-2 mx-4 my-2">
    <h5 class="row">Data Feed Resource Dashboard</h5>
  </div>
  <div class="px-4 py-2 mx-4 my-2 bg-white">
    <form class="w-100 " [formGroup]="deliveryForm" (submit)="submit(deliveryForm.value)">
      <div class="row">
        <mat-radio-group formControlName="data_Feed_Name" class="col-md-4 px-4 col-sm-12 mb-4">
          <mat-radio-button  *ngFor="let option of radioOptions" class="mr-4" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row">
        <ng-multiselect-dropdown class="col-md-6 px-4 col-sm-12 mb-4" [placeholder]="'custom placeholder'" [data]="processes"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProcesses" [settings]="dropdownSettings"
          (onSelect)="onSelectProcess($event)" (onDeSelect)="onDeSelectProcess($event)"
          (onSelectAll)="onSelectAllProcesses($event)">
        </ng-multiselect-dropdown>
        <!-- <mat-form-field class="invisible col-md-4 px-4 col-sm-12 w-0 h-0">
          <mat-label>Data Delivery Chanl Type Code</mat-label>
          <select matNativeControl multiple class="custom-select" formControlName="process">
            <option ></option>
          </select>
        </mat-form-field> -->
      
        <ng-multiselect-dropdown class="col-md-6 px-4 col-sm-12 mb-4" [placeholder]="'custom placeholder'" [data]="dataFeeds"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedDataFeeds" [settings]="dropdownSettings"
          (onSelect)="onSelectFeed($event)" (onDeSelect)="onDeSelectFeed($event)"
          (onSelectAll)="onSelectAllFeed($event)">
        </ng-multiselect-dropdown>
        <!-- <mat-form-field class="col-md-4 px-4 col-sm-12  w-0 h-0 invisible">
          <mat-label>Data Delivery Chanl Type Code</mat-label>
          <select matNativeControl multiple class="custom-select" formControlName="dataFeed">
            <option></option>
          </select>
        </mat-form-field> -->
      </div>
      <button [disabled]="!deliveryForm.valid" type="submit" mat-raised-button color="primary"
        class="text-white mx-5">Submit</button>
    </form>
  </div>
  <div class="px-4 py-2 mx-4 my-2 bg-white overflow-hidden ">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="overflow-auto" style="height: 24vh;">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="application">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.application}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="datafeed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.datafeed}} </td>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>
        <ng-container matColumnDef="starttime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row"> {{row.starttime}} </td>
        </ng-container>
        <ng-container matColumnDef="endtime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row"> {{row.endtime}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>