<div class="layout-column justify-content-center align-items-center">

  <div class="layout-row justify-content-around align-items-center mt-20 links">
      <a  data-test-id="home-navigation-tab">Home</a>
      <a  data-test-id="news-navigation-tab">News</a>
      <a  data-test-id="contact-navigation-tab">Contact</a>
      <a  data-test-id="about-navigation-tab">About</a>
  </div>

  <div class="card w-20 ma-0">
    <section class="card-text">
        <span data-test-id="tab-content"></span>
    </section>
  </div>
</div>