<div class="main-wapper d-flex justify-content-center align-items-center">
  <mat-card class="m-3 p-4" style="max-height: 400px;">
    <div class="vendor-invoice">

      <form [formGroup]="userFormGroup" (ngSubmit)="navigateToHome()">
        <p class="vendor-invoice__title justify-center">
          iProtech Test Pack
        </p>
        <div class="justify-center">
          <mat-form-field appearance="outline" class="invoice-form-field">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="@gmail.com" formControlName="email" [errorStateMatcher]="errorMatcher" />

            <mat-error *ngIf="
                userFormGroup.controls['email'].errors &&
                (userFormGroup.controls['email'].dirty ||
                  userFormGroup.controls['email'].touched)
              ">enter valid email address
              <mat-error *ngIf="
                  userFormGroup.controls['email'].errors.required
                ">
                email is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
          <br />

        </div>
        <div class="justify-center">
          <mat-form-field appearance="outline" class="invoice-form-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" formControlName="password" [errorStateMatcher]="errorMatcher" />

            <mat-error *ngIf="
                userFormGroup.controls['password'].errors &&
                (userFormGroup.controls['password'].dirty ||
                  userFormGroup.controls['password'].touched)
              ">enter valid password minimum 4 chars
              <mat-error *ngIf="
                  userFormGroup.controls['password'].errors.required
                ">
                password is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="justify-center">
          <p>login using
            <a
              href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C355887219965%7Ce%7Cfb%20login%27%7C&placement=&creative=355887219965&keyword=fb%20login%27&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066388443%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-374905705838%26loc_physical_ms%3D1007742%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAsaOBBhA4EiwAo0_AnPTiQqY7RWr5ZktrADsyPwqnCId-Akjz7RxzbpKIXByv-N4nRTglmhoCYbcQAvD_BwE">Fb</a>
            or <a
              href="https://accounts.google.com/signin/v2/identifier?hl=en&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgmail%26rlz%3D1C1PRFI_enIN867IN867%26oq%3Dgmail%26aqs%3Dchrome..69i57j0j0i433l3j0j69i61l2.1914j0j4%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAlAAQ&flowName=GlifWebSignIn&flowEntry=AddSession">G-mail</a>
          </p>
        </div>
        <!-- <div class="row"> -->

        <!-- <div class="col-md-4 col-sm-12"> -->

        <!-- </div> -->
        <div class="row justify-center">
          <div class=" ">
            <button mat-raised-button color="primary" class="vendor-invoice__action mt-2 float-right"
              [disabled]="!userFormGroup.valid">
              Submit
              <mat-icon *ngIf="isSpinner">
                <mat-spinner diameter="20"> </mat-spinner>
              </mat-icon>
            </button>
          </div>
        </div>


      </form>
    </div>
  </mat-card>
</div>
